# Add virtual environment .venv directory
.venv/
node_modules

# API keys and Credential files
.env
credentials.json
token.json
google-cloud-config.txt

# Results and logs
results.txt

# Cache files
__pycache__/